<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test suite 2">
  <test thread-count="5" name="test suite 2">
    <classes>
           <class name="opencart.testcases.AddShoppingCart"/>
           <class name="opencart.testcases.CheckoutProcess_ConfirmOrderTest"/>
    </classes>
  </test> <!-- Regression1 -->
</suite> <!-- Suite1 -->
